<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    {% block script %}{% endblock %}
</head>
<body>
<div class="menu">
    <ul>
        <li><a href="config">配置</a></li>
        <li><a href="history">历史记录</a></li>
    </ul>
</div>
{% block main %}
{% endblock %}
</body>
</html>
