{% extends 'base.html' %}
{% block title %}配置页面{% endblock %}
{% block main %}
    <main>
        <h1>配置</h1>
        <form action="/config" method="POST">
            <div class="form-group">
                <label for="base_url">base_url:</label>
                <input type="text" id="base_url" name="base_url" value="{{ cfg.base_url }}">
            </div>
            <div class="form-group">
                <label for="api_key">api_key:</label>
                <input type="text" id="api_key" name="api_key" value="{{ cfg.api_key }}">
            </div>
            <div class="form-group">
                <label for="model">model:</label>
                <input type="text" id="model" name="model" value="{{ cfg.model }}">
            </div>
            <div class="form-group">
                <label for="key_press_time">按键时间:</label>
                <select id="key_press_time" name="button_time">
                    {% if cfg.button_time == 1 %}
                        <option value="1" selected>1秒</option>
                    {% else %}
                        <option value="1">1秒</option>
                    {% endif %}
                    {% if cfg.button_time == 1.5 %}
                        <option value="1.5" selected>1.5秒</option>
                    {% else %}
                        <option value="1.5">1.5秒</option>
                    {% endif %}
                    {% if cfg.button_time == 2 %}
                        <option value="2" selected>2秒</option>
                    {% else %}
                        <option value="2">2秒</option>
                    {% endif %}
                    {% if cfg.button_time == 2.5 %}
                        <option value="2.5" selected>2.5秒</option>
                    {% else %}
                        <option value="2.5">2.5秒</option>
                    {% endif %}
                </select>
            </div>
            <div class="form-group">
                <label for="key_option">按键选择:</label>
                <select id="key_option" name="button_select">
                    {% if cfg.button_select == 'option' %}
                        <option value="option" selected>option</option>
                    {% else %}
                        <option value="option">option</option>
                    {% endif %}

                    {% if cfg.button_select == 'control' %}
                        <option value="control" selected>control</option>
                    {% else %}
                        <option value="control">control</option>
                    {% endif %}
                </select>
            </div>
            <div class="form-group">
                <label for="history_num">历史记录:</label>
                <select id="history_num" name="history_num">
                    {% if cfg.history_num == 20 %}
                        <option value="20" selected>20条</option>
                    {% else %}
                        <option value="20">20条</option>
                    {% endif %}
                    {% if cfg.history_num == 30 %}
                        <option value="30" selected>30条</option>
                    {% else %}
                        <option value="30">30条</option>
                    {% endif %}
                    {% if cfg.history_num == 40 %}
                        <option value="40" selected>40条</option>
                    {% else %}
                        <option value="40">40条</option>
                    {% endif %}
                    {% if cfg.history_num == 50 %}
                        <option value="50" selected>50条</option>
                    {% else %}
                        <option value="50">50条</option>
                    {% endif %}
                </select>
            </div>
            <input type="submit" value="保存">
        </form>
    </main>
{% endblock %}