{% extends 'base.html' %}
{% block title %}配置页面{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}
{% block main %}
<main>
    <h1>历史记录</h1>
    <table class="table">
        <thead>
        <tr>
            <th>时间</th>
            <th>公式</th>
        </tr>
        </thead>
        <tbody>
        {% for hsy in history %}
        <tr>
            <td>{{ hsy.create_time }}</td>
            <td>$${{ hsy.context }}$$</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}